/* * {
  box-sizing: border-box;
} */
:root {
  --color-text: orange;
  --color-back: rgb(158, 114, 114);
}

/* *::-webkit-scrollbar {
  height: 0px;
  width: 0px;
} */
/* NavBar Code */
.nav {
  height: 55px;
  width: 100%;
  background-color: var(--color-back);
  position: fixed;
  display: block;
  top: 0;
  z-index: 5;
  font-family: Ubuntu-Bold, "Courier New", Courier, monospace;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  /* color: #fff; */
  color: var(--color-text);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline-flex;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-flex;
  text-decoration: none;
  color: var(--color-text);
}

.navbar {
  border-bottom: 1px solid #bbbbbb;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031d44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: orange;
}

.nav-link-ltr::before {
  display: block;
  width: 0%;
  bottom: 12px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.nav-link-ltr-location:before {
  width: 100%;
  color: rgb(255, 115, 0);
}

.nav-link-fade-up::before {
  width: 90%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

.nav > #nav-check {
  display: none;
}

.nav-heading {
  display: inline-block;
  font-size: 22px;
  color: var(--color-text);
  padding: 11px 5px 10px 0px;
  position: absolute;
  left: 30px;
}

@media (max-width: 860px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    margin: 1px 20px;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    text-decoration: underline var(--color-text);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    border-top: 2px solid var(--color-text);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    /* background-color: #333; */
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 300px;
    overflow-y: auto;
    background-color: whitesmoke;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* padding-left: 20px; */
  }
}
